@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@*This is the contact information,*@ 
<address>
    Craig Timmons <br />
    Local Tournament Director<br />
    811 Hughes Dr.<br />
    Saint Albans, WV<br />
    <abbr title="Phone">P:</abbr>
    304-415-2119<br />
    <a href="mailto:craig@wvsca.com">craig@wvsca.com</a><br />
</address>

<address>
    Bob Greer<br />
    Local Tournament Director<br />
    <a href="mailto:greerlaw@aol.com">greerlaw@aol.com </a><br />
</address>

<address>
    Jeff Hohn <br />
    Local Tournament Director<br />
    <a href="mailto:jdlzhohn@suddenlink.net">jdlzhohn@suddenlink.net </a><br />
</address>
