@{
    ViewBag.Title = "Home Page";
}


@*THIS is the home page*@
<div class="jumbotron">
    <table>
        <colgroup>
            <h1>West Virginia Scholastic Chess Association</h1>
            <p class="lead">Helping kids succeed using chess!</p>
            @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
        </colgroup>
    </table>
</div>

<div class="row">
    <h2>Welcome to the WVSCA</h2>
    <p>
        The WVSCA philosophy is aimed at helping students believe in themselves and in their ability to succeed in school. 
        We use the game of chess as an educational tool to motivate children to learn, to teach children to think and to show children they can succeed in intellectual pursuits. 
        In learning chess, children develop self-confidence, a willingness to work hard and the higher-order thinking skills that lead to academic achievement.
    </p>
    <p>
        @*@Html.TextArea(registration)  *@
    </p>
</div>